<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Document</title>
 <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.00.min.css"
    rel="stylesheet" type="text/css">
 <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.00.min.css"
    rel="stylesheet" type="text/css">
 <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.00.min.css"
    rel="stylesheet" type="text/css">

 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

 <!-- Latest compiled and minified JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="static/styles.css">


<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.00.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.00.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.00.min.js"></script>
<body>
 <h3>Milburn Ultimate Stats</h3>
 <!-- <div class="chart">
  {{bokeh_script|indent(4)|safe}}
 </div> -->
 <div> {{ embed(roots.All_Time_figure) }} </div>


 <div class="footer">
   <p>&#169; Brian Schoolcraft 2018</p>
 </div>

</body>
</html>
